{% extends 'core.html' %}
{% block core_body%}
<section class="home" id="home">
    <div class="hero">
        <h3>indulge In Hevenly Sweet Delights</h3>
        <p>You Will Love It.</p>
        <a class="btn" href="">get yours now</a>
    </div>
 </section>
 <section class="cakes" id="cakes">
    <h3 class="title"> our <span> cakes</span></h3>
    <div class="wrapper">
        <!-- cake one -->
        <div class="cake-card">
            <img src="static/images/mango.jpg" alt="">
            <h3>Mango Cake</h3>
            <div class="price">$22.99</div>
            <a href="" class="btn">add to cart</a>
        </div>
        <!-- cake two -->
        <div class="cake-card">
            <img src="static/images/mango.jpg" alt="" >
            <h3>Sponge Cake</h3>
            <div class="price">$22.99/-<span>27.99</span></div>
            <a href="" class="btn">add to cart</a>
        </div>
        <!-- cake three -->
        <div class="cake-card">
            <img src="static/images/mango.jpg" alt="">
            <h3>Mango Cake</h3>
            <div class="price">$22.99</div>
            <a href="" class="btn">add to cart</a>
        </div>
        <!-- cake four -->
        <div class="cake-card">
            <img src="static/images/mango.jpg" alt="">
            <h3>Mango Cake</h3>
            <div class="price">$22.99</div>
            <a href="" class="btn">add to cart</a>
        </div>
        <!-- cake five -->
        <div class="cake-card">
            <img src="static/images/mango.jpg" alt="">
            <h3>Mango Cake</h3>
            <div class="price">$22.99</div>
            <a href="" class="btn">add to cart</a>
        </div>
        <!-- cake six -->
        <div class="cake-card">
            <img src="static/images/mango.jpg" alt="">
            <h3>Mango Cake</h3>
            <div class="price">$22.99</div>
            <a href="" class="btn">add to cart</a>
        </div>
    </div>
 </section>
 <section class="cheese-cakes" id="cheese-cakes">
    <h1 class="title">our <span>cheese cakes</span></h1>
    <div class="wrapper">
        <div class="cheese-card">
            <div class="icons">
                <a class="fa-solid fa-cart-shopping"></a>
                <a class="fa-solid fa-heart"></a>
                <a class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img src="static/images/mango.jpg"/>
            </div>
            <div class="content">
                <h3>Mango cheese cake</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="price">$15.99/- <span>$20.99</span></div>
            </div>
        </div>
        <!-- cheese cake 2 -->
        <div class="cheese-card">
            <div class="icons">
                <a class="fa-solid fa-cart-shopping"></a>
                <a class="fa-solid fa-heart"></a>
                <a class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img src="static/images/mango.jpg"/>
            </div>
            <div class="content">
                <h3>Mango cheese cake</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="price">$15.99/- <span>$20.99</span></div>
            </div>
        </div>
        <!-- cheesecake 3 -->
        <div class="cheese-card">
            <div class="icons">
                <a class="fa-solid fa-cart-shopping"></a>
                <a class="fa-solid fa-heart"></a>
                <a class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img src="static/images/mango.jpg"/>
            </div>
            <div class="content">
                <h3>Mango cheese cake</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="price">$15.99/- <span>$20.99</span></div>
            </div>
        </div>
        <!-- cheese cake 4 -->
        <div class="cheese-card">
            <div class="icons">
                <a class="fa-solid fa-cart-shopping"></a>
                <a class="fa-solid fa-heart"></a>
                <a class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img src="static/images/mango.jpg"/>
            </div>
            <div class="content">
                <h3>Mango cheese cake</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="price">$15.99/- <span>$20.99</span></div>
            </div>
        </div>
    </div>
 </section>
 <section class="new-arrivals" id="new-arrivals">
    <h1 class="title">new <span>arrivals</span></h1>
    <div class="wrapper">
        <!-- new arrivals 1 -->
        <div class="card">
            <div class="img">
                <img src="static/images/mango.jpg">
            </div>
            <div class="content">
                <a> rainbow macroons </a> <!-- anchor  -->
                <p> You will like it</p> 
                <a class="btn">Explore</a>
            </div>
        </div>
        <!-- new arrivals 2-->
        <div class="card">
            <div class="img">
                <img src="static/images/mango.jpg">
            </div>
            <div class="content">
                <a> crunchy cookies </a> <!-- anchor  -->
                <p> You will like it</p> 
                <a class="btn">Explore</a>
            </div>
        </div>
        <!-- new arrivals 3 -->
        <div class="card">
            <div class="img">
                <img src="static/images/mango.jpg">
            </div>
            <div class="content">
                <a> mouthwatering brownies </a> <!-- anchor  -->
                <p> You will like it</p> 
                <a class="btn">Explore</a>
            </div>
        </div>
    </div>
 </section>
    <!-- Review section -->
      <section class="review" id="review">
        <h1 class="title">Customer's <span>Review</span></h1>
        <div class="wrapper">
            <div class="review-card">
                <img src="static/images/quote.png">
                <p>Bing Chilling</p>
                <img class="customer" src="static/images/cena.jpg">
                <h3>john cena</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
            </div>
            <!-- review 2 -->
            <div class="review-card">
                <img src="static/images/quote.png">
                <p>Bing Chilling</p>
                <img  class="customer"src="static/images/cena.jpg">
                <h3>john cena</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
            </div>
            <!-- review 3 -->
            <div class="review-card">
                <img src="static/images/quote.png">
                <p>Bing Chilling</p>
                <img class="customer" src="static/images/cena.jpg">
                <h3>john cena</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
            </div>
        </div>   
      </section>
      <!-- Contact us -->
      <section class="contact" id="contact">
        <h1 class="title"><span>Contact</span> Us</h1>
        <div class="contents">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112222.27162763513!2d-81.34266519999997!3d28.48117320000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e773d8fecdbc77%3A0xac3b2063ca5bf9e!2sOrlando%2C%20FL!5e0!3m2!1sen!2sus!4v1720810289508!5m2!1sen!2sus" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <form action="">
                <h3>Get in Touch</h3>
                <div class="input-box">
                    <span class="fas fa-user"></span>
                    <input type="text" name="name" placeholder="name">
                </div>
                <div class="input-box">
                    <span class="fas fa-envelope"></span>
                    <input type="text" name="email" placeholder="email">
                </div>
                <div class="input-box">
                    <span class="fas fa-phone"></span>
                    <input type="text" name="phone" placeholder="phone">
                </div>
                <a href="" class="btn">Contact Now</a>
            </form>
        </div>
      </section>

<!-- <div class="index">
    <h1>Welcome to my Bakery page!</h1>
        {% if products %}
        {% for product in products %}
        <div class="card">
            <div>
                <a href="/products/{{product.id}}">{{product.id}}</a>
                <b>{{product.title}}</b>
            </div>
            <small>{{product.body}}</small>
        </div>
        {% endfor %}
        {% endif %}
</div> -->
{% endblock core_body%}
